:root {
    --avengers-gray: #2b2d42;
    --gunmetal-gray: #8d99ae;
    --off-white: #edf2f4;
    --pinkish: #EFA1AC;
    --salmon-vision: #ef233c;
    --ironman-red: #d90429;
}

body{
    background-color: #2b2d42;
    
}
.navbar {
    background: linear-gradient(90deg, #2b2d42, #8d99ae, #edf2f4, #ef233c, #d90429);
    color: black;
    border-radius: .5rem black;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0rem 0rem .5rem var(--salmon-vision), 0 0 .9375rem var(--gunmetal-gray);
}

.navbar-brand {
    font-size: 50px;
    align-items: center;
    font-family: 'Tilt Neon';
}

.card-header {
    background-color: var(--gunmetal-gray);
    font-family: 'Tilt Neon';
}

.card {
    background-color: var(--off-white);
    border: .0625rem solid black;
    border-radius: .5rem;
    padding: .625rem;
 }

 .card-body {
    background-color: var(--pinkish);
    color: var(--avengers-gray);
    font-family: 'Tilt Neon';
 }

.card:hover {
    box-shadow: inset 0px 0px 20px var(--pinkish), 0 0 100px var(--pinkish);
}