:root {
    --avengers-gray: #2b2d42;
    --gunmetal-gray: #8d99ae;
    --off-white: #edf2f4;
    --salmon-vision: #ef233c;
    --ironman-red: #d90429;
}


header {
    text-align: center;
    background: linear-gradient(90deg, #2b2d42, #8d99ae, #edf2f4, #ef233c, #d90429);
    color: black;
    border-radius: .5rem black;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0rem 0rem .5rem var(--salmon-vision), 0 0 .9375rem var(--gunmetal-gray);
}

.card-header {
    background-color: var(--avengers-gray);

}

.card {
    display: inline-block;
    height: 30%;
    width: 20%;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    color: white;
    background-image: linear-gradient(to right, slateblue, steelblue);
    text-align: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}